.main {
  .header {
    display: flex;
    justify-content: center;
    // background: linear-gradient(135deg, #b99c63, #d3be8e);
    // background-color: #f0ac04;
    background: linear-gradient(0deg, rgba(106, 43, 5, 1), rgba(150, 67, 21, 1)),
      url('../../assets/images/coffee-background_3.jpg');
    background-size: cover;
    height: 75vh;
    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      background-image: url('../../assets/images/wave.svg');
      height: 275px;
      background-size: cover;
    }
    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 65%;
      color: white;
      .header-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // align-content: center;
        h1 {
          font-family: 'Courgette', sans-serif;
          font-size: 45px;
          margin-bottom: 5px;
        }
        p {
          opacity: 0.7;
          margin-bottom: 30px;
          font-family: 'Roboto', sans-serif;
        }
        .login-btn {
          color: black;
          width: 200px;
          font-weight: bold;
          &:hover {
            background-color: #f0ac04;
            color: white;
            box-shadow: -4px 4px 5px 2px #847064;
          }
        }
      }
      .vector-img {
        height: 350px;
        width: 400px;
      }
    }
  }
}
