.primary-colors {
  $color1: rgb(176, 160, 146);
  $color2: rgb(132, 112, 100);
  $color3: rgb(185, 156, 99);
  $color4: rgb(211, 190, 142);
  $color5: rgb(240, 172, 4);
}

.other-colors {
  $color1: rgb(62, 20, 4);
  $color2: rgb(106, 43, 5);
  $color3: rgb(150, 67, 21);
  $color4: rgb(187, 107, 36);
}
