.primary-colors {
  $color1: #af9f90;
  $color2: #847064;
  $color3: #b99c63;
  $color4: #d3be8e;
  $color5: #f0ac04;
}

.other-colors {
  $color1: #3e1404;
  $color2: #6a2b05;
  $color3: #964315;
  $color4: #bb6b24;
}
